body {
  background-image: url("https://c1.wallpaperflare.com/preview/583/849/241/paper-crease-creased-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, Sans-serif;
  margin: 5% 20%;
}

img {
  width: 20%;
  border: 2px solid black;
  position: relative;
  float: right;
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
   0%   {background-image: url("https://i.imgur.com/L4JTsko.jpg"); left:-50px; top:50px;}
  25%  {background-image: url("https://i.imgur.com/L4JTsko.jpg"); left:-50px; top:300px;}
  50%  {background-image: url("https://i.imgur.com/L4JTsko.jpg"); left:-50px; top:50px;}
  75%  {background-image: url("https://i.imgur.com/L4JTsko.jpg"); left:-50px; top:300px;}
  100% {background-image: url("https://i.imgur.com/L4JTsko.jpg"); left:-50px; top:50px;}
}

.intro-header {
  text-align: center;
}

.exp-header {
  border-top: 2px solid black;
  text-align: center;
  text-transform: uppercase;
}

.edu-header {
  border-top: 2px solid black;
  text-align: center;
  text-transform: uppercase;
}
