body {
  background-image: url("https://c1.wallpaperflare.com/preview/583/849/241/paper-crease-creased-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, Sans-serif;
  margin: 10% 10%;
}

img {
  width: 20%;
  float: right;
  border: 2px solid black;
}

.intro-header {
  text-align: center;
}

.exp-header {
  border-top: 2px solid black;
  text-align: center;
}

.edu-header {
  border-top: 2px solid black;
  text-align: center;
}

.spice, .foods, .spanish {
  margin-left: 40px;
}
